<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.seecoder.courselearning.mapperservice.coupon.CourseOrderCouponMapper">
    <resultMap id="BaseResultMap" type="cn.seecoder.courselearning.po.coupon.CourseOrderCoupon">
        <id column="order_id" jdbcType="INTEGER" property="orderId" />
        <id column="coupon_id" jdbcType="INTEGER" property="couponId" />
    </resultMap>
    <insert id="insert" parameterType="cn.seecoder.courselearning.po.coupon.CourseOrderCoupon">
    insert into course_order_coupon (order_id, coupon_id)
    values (#{orderId,jdbcType=INTEGER}, #{couponId,jdbcType=INTEGER})
    </insert>
    <select id="selectByOrderId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select order_id, coupon_id
    from course_order_coupon
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
    <select id="selectByOrderIdAndCouponId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select order_id, coupon_id
    from course_order_coupon
    where order_id = #{orderId,jdbcType=INTEGER} and coupon_id = #{couponId,jdbcType=INTEGER}
  </select>
    <delete id="deleteByOrderIdAndCouponId" parameterType="java.lang.Integer">
    delete from course_order_coupon
    where order_id = #{orderId,jdbcType=INTEGER} and coupon_id = #{couponId,jdbcType=INTEGER}
  </delete>
</mapper>